@import '~/node_modules/bootstrap/scss/_grid.scss';
%container {
    @extend .container;
    @include media-breakpoint-down(xs) {
        max-width: 360px;
    }
}
%row {
    @include make-row();
}
%common-block-title {
    text-align: center;
    font-family: $font-family-sans-serif;
    line-height: 1.15;
    letter-spacing: .6px;
    font-weight: normal;
    text-transform: uppercase;
    @include set-font-size(30px);
    @include media-breakpoint-up(sm) {
        @include set-font-size(40px);
    }
}

%common-btn-primary {
    display: block;
    text-align: center;
    border-radius: 4px;
    background-color: $accent;
    color: $light-text;
    box-shadow: 0 2px 0 0 rgba(181, 104, 48, .004);
    &:hover {
        text-decoration: none;
        box-shadow: 0 2px 0 0 rgba(104, 104, 104, .2);
        color: $light-text;
        background-color: lighten($accent, 5%);
    }
}

%visually-hidden {
    position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.btn-primary {
    @extend %common-btn-primary;
}

.input-tip {
    display: none;
}