@font-face {
    font-family: "Geometria";
    src: url("~assets/fonts/geometria.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "Geometria";
    src: url("~assets/fonts/geometria-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}