$font-family-base: 'Geometria', 'Georgia', sans-serif;
$font-family-sans-serif: 'Geometria', 'Georgia', sans-serif;
$page-bg: #efe7dd;
$navbar-default-bg: rgb(187, 141, 120);
$navbar-dark: #997665;
$navbar-color: rgb(228, 212, 193);
$light-bg: #fff;
$font-size-base: 1rem;
$color-text: rgb(83, 65, 65);
$adv-text: rgb(64, 41, 41);
$dark-text: #35454a;
$light-text: rgb(254, 254, 254);
$accent: #588f28;
$btn-primary-color: $light-text;
$btn-primary-bg: $accent;
$btn-primary-border: $accent;
$border-radius-large: 0;